
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="/css/style.css")

  body 
    .login-container
      .info-section
          .info-content
              .logo-container
                  i.fas.fa-shield-alt
              h1 ¡Bienvenido de vuelta!
              p Accede a tu cuenta y disfruta de todas las funcionalidades que tenemos preparadas para ti. Tu seguridad es nuestra prioridad.
      // Sección del formulario
      .form-section
        .form-content
            .form-header
                h2 Iniciar Sesión
                p Ingresa tus credenciales para continuar

            form#loginForm(action="/login/autenticacion" method="post")
                .form-group
                    .input-wrapper
                        input.form-input#usuario(name="usuario" type="text" placeholder="Nombre de usuario" required autocomplete="username")
                        i.input-icon.fas.fa-user

                .form-group
                    .input-wrapper
                        input.form-input#codigo(name="codigo" type="password" placeholder="Código de acceso" required autocomplete="current-password")
                        i.input-icon.fas.fa-key

                .form-actions
                    .remember-me
                        .custom-checkbox#rememberCheck
                        span Recordarme
                    a.forgot-link(href="/solicitud") ¿Olvidaste tu contraseña?

                button.submit-button#submitBtn(type="submit")
                    span#btnText Iniciar Sesión


    script(src="/js/PLAY.JS")
