@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --primary-color:#DC5F00;
    --secundary-color:#373A40;
    --third-color:#686D76;
    --quarter-color:#EEEEEE;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    visibility: visible;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}

.cerrar {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: var(--quarter-color);
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Estilo para los botones de mesa */
.btn-mesa {
    background-color: var(--third-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.btn-mesa:hover {
    background-color:var(--primary-color);
}

/* Tabla */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
}

thead {
    background-color: #4CAF50;
    color: white;
}

thead th {
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
.modal-ventas-res {
    display: none;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
}
  
.modal-contenido-VENTAS {
    background: white;
    color: black;
    padding: 20px;
    width: 80%;
    
    text-align: center;
    position: relative;
    max-height: 90vh; /* Limita la altura del modal */
    overflow-y: auto;
}
  
.cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #EEEEEE;
    --secondary-color: #373A40;
    --accent-color: #DC5F00;
    --neutral-color: #686D76;
    
    --background-color: var(--primary-color);
    --text-color: var(--secondary-color);
    --button-background: var(--accent-color);
    --button-text: var(--primary-color);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}
body.dark{
    --primary-color: #373A40;
    --secondary-color: #EEEEEE;
    --accent-color: #DC5F00;
    --neutral-color: #686D76;
    
    --background-color: var(--primary-color);
    --text-color: var(--secondary-color);
    --button-background: var(--accent-color);
    --button-text: var(--secondary-color);

}
/* ----------sidebar---------- */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--background-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close{
    width: 88px;
}
/* ----------resuable CSS---------- */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar.image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02); 
}
.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header.image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
font-weight: 600;
}
.header-text .profecion{
    margin-top: -2px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--button-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--button-text);
    font-size: 22px;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
}
body.dark .sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
    color: var(--text-color);
}
.sidebar li a{
    height: 100%;
    display: flex;
    width: 95%;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sidebar li a:hover{
    background: var(--button-background);
}
.sidebar li a:hover .icon
.sidebar li a:hover .text{
    color: var(--text-color);
}

body.dark .sidebar li a:hover .icon
body.dark .sidebar li a:hover .text{
    color: var(--button-text);
}
.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.sidebar .menu-bar ul{
    padding: 0;
}
.sidebar  .menu-bar i{
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text-color);
}
.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--background-color);
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
    margin: 0;
}
.menu-bar .mode i.sun{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 60px;
    cursor: pointer;
    
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--button-background);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--button-text);
    transition: var(--tran-03);
}
body.dark .switch::before{
    left: 24px;
}
.home{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: var(--tran-05);

}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}